# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Nothing.iml
# Datasource local storage ignored files
/../../../../../../:\Unity Projects\Nothing\.idea\.idea.Nothing\.idea/dataSources/
/dataSources.local.xml
